.calendar {
  text-align: center;

  .day {
    float: left;
    position: relative;

    .day--date {
      background-color: hsl(0, 100%, 75%);
    }
  }

  .attendee {
    line-height: 3em;
    overflow: hidden;

    &.add-attendee-enter {
      height: 0em;
      transition: height .5s ease-out;

      &.add-attendee-enter-active {
        height: 3em;
      }
    }
  }

  @for $i from 2 through 4 {
    .attendee:nth-child(3n+#{$i - 1}) {
      background-color: hsl($i * 70, 85%, 75%);
    }
  }
}

